{% extends 'generator/base.html' %}
{% block content %}
    <div class="container text-center">
        <h1>Select conditions</h1>
        <form action="{% url 'password' %}">
            <input type="number" name="length" min="1" style="text-align: center;" value="1"> Length
            <br>
            <input type="checkbox" name="uppercase"> uppercase
            <br> 
            <input type="checkbox" name="numbers"> numbers
            <br> 
            <input type="checkbox" name="special"> Special Characters
            <br> 
            <input type="submit" value="Generate Password" class="btn btn-primary">
        </form>
        <br>
        <br>
        <p><i>By default, if you left all blank your password will be composed of eight(8) lowercase letters.</i></p>
    </div>
{% endblock %}