{% extends 'generator/base.html' %}
{% block content %}
    <div class="container text-center">
        <h1>Select conditions</h1>
        <form action="{% url 'password' %}">
            <input type="number" name="length" min="1" style="text-align: center;" placeholder="Length">
            <br>
            <br>
            <div class="container text-left" style="width: 20%;">
                <input type="checkbox" id="special" name="special">
                <label for="special">Special Characters</label>
                <br> 
                <input type="checkbox" name="uppercase" id="uppercase">
                <label for="uppercase">uppercase</label>
                <br> 
                <input type="checkbox" name="lowercase" id="lowercase">
                <label for="lowercase">lowercase</label>              
                <br>
                <input type="checkbox" name="numbers" id="numbers">
                <label for="numbers">numbers</label>
                <br>  
                <br>
                </div>
            <input type="submit" value="Generate Password" class="btn btn-primary">
        </form>
        <br>
        <br>
        <p><i>By default, if you left all conditions blank, your password will be composed of eight(8) lowercase letters.</i></p>
    </div>
{% endblock %}