{% extends 'generator/base.html' %}
{% block content %}
<head>
    <title>Password</title>
</head>
    <div class="container text-center">
        <h1>Your password is: </h1>
        <div class="alert alert-success"  style="overflow-y: auto; overflow-x: auto;">
            <h2>{{ password }}</h2>
        </div>
        <a href="{% url 'home' %}" class="btn btn-primary">Home</a>
        <button onclick="refreshPage()" class="btn btn-warning">Refresh</button>
    </div>

    <script>
        function refreshPage(){
            window.location.reload();
        }
    </script>   
{% endblock %}